.cast{
    display:grid;
    grid-template-columns: repeat(5,0fr);
}
.lead{
    font-size: 1rem;
    letter-spacing: 1px;
}
.character{
    font-size:0.9rem
}
.favorite{
    right:10px;
    top:10px;
  }
  .favorite svg:hover{
    transform: scale(1.5);
    transition: 0.5s transform;
    cursor: pointer;
  
  }
  .favtext{
    opacity: 0;
    transform: translateX(25px);
    transition: 0.5s all;
  }
  .show{
    opacity: 1;
    transform: translate(0);
  }
  .modalTrailer{
    width: 800px !important;
    height: 500px !important; 
    top:20% !important;
    left: 20% !important;
  }


@media only screen and (max-width: 1020px) {

  .modalTrailer{
    width: 80vw !important;
    height: 300px !important; 
    top:10% !important;
    left: 15% !important;
    min-width: 0 !important;
    min-height: 0 !important;
  }
}