*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background:#f1f5f8;
}
.nav{
  width:90%;
}
.links p{
  font-size: 1.3rem;
  cursor:pointer;
  color:black;
}
.links a{
  text-decoration: none;
}
.title{
  font-size: 1.7rem;
  letter-spacing: 2px;
}

.search-container{
  min-width: 50%;
  min-height: 10rem;
  background-color: white;
  letter-spacing: 2px;
}
.search-container input{
  background:#f1f5f8;
  height:2rem;
}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  transition: 0.7s all;
}