

.user-profile{
    height:34px;
    width: 34px;
    border-radius: 50%;
    background-color: white;
}

.profile-options{
    top:40px;
    right:0;
    width: 120px;
    line-height: 40px;
    letter-spacing: 1.3px;
}

.user-profile p:hover:not(:first-child),a:hover{
    background:#121211;
}