.avatar-img{
    height:150px;
    width: 150px;
    background:white;
    border-radius: 50%;
}

.avatar-img img{
    width:100%;
    border-radius: 50%;
    height: 100%;
}

.profile-row:hover{
    background:rgb(82, 73, 73);
    color:white;
    cursor: pointer;
}

.profile-row *{
    padding:1rem;
}


#modal{
    height:250px;
    width:180px;
    overflow: hidden;
    position: relative;
}

#modal .close-btn{
     position: static; 
}
