  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  body{
  background:#f1f5f8;
  font-family: 'Roboto', sans-serif;
}
.login-img{
  width:50%;
  height:50%;
}
.homepage-container button {
  letter-spacing: 2.2px;
  background-color: #2caeba;
  border:none;
  color:white;
  transition: 0.4s all;
}
.homepage-container button:hover {
background-color: #9cd9df;
color:black;
}
