  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  body{
  background:#f1f5f8;
  letter-spacing: 1.3px;
  font-family: 'Roboto', sans-serif;
}
.login-img{
  width:50%;
  height:50%;
}
.homepage-container button {
  letter-spacing: 2.2px;
  background-color: #2caeba;
  border:none;
  color:white;
  transition: 0.4s all;
}
.homepage-container button:hover {
background-color: #9cd9df;
color:black;
}
/* loader */
.loader img{
  height:150px;
  width:150px;
}

/* info section */
.box .logo svg{
height:40px;
width:40px;

}
.main-box{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* user  section */
.user-section{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.description{
  height:40px;
  top:-40px;
  left:0;
}
.followers-box{
  padding:0 0 0 1rem;
  overflow-y:scroll;
}
.follow-btn button:hover{
  background:#4c9edd;
  color:white !important;
  transition: 0.5s all;
}
/* search box */
.search-box{
  display:grid;
  grid-template-columns: auto max-content;
}
.search-box input{
  width:95%;
  border:none;
  letter-spacing: 2px;
  font-size: 1.1rem;
}
.search-box input:focus{
  outline:2px solid rgb(240, 215, 240);
  border-radius: 3px;
}
.form-container{
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
}
.form-container .requests{
  color:#617d98;
}